<div class="card">
    <div class="card-body">
        <h4 class="header-title">Productos de la tienda "Nombre de la tienda"</h4>
        <p class="text-muted font-14">
            Visualiza los productos de la tienda de blumer
        </p>
        <div class="mt-3 row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card d-block">
                    <!-- project-thumbnail -->
                    <img class="card-img-top" src="assets/images/projects/project-2.jpg" alt="project image cap">
                    <div class="card-img-overlay">
                        <div class="badge bg-success p-1">Disponible</div>
                    </div>

                    <div class="card-body position-relative">
                        <!-- project title-->
                        <h4 class="mt-0">
                            <a href="apps-projects-details.html" class="text-title">Titulo del producto</a>
                        </h4>

                        <!-- project detail-->
                        <p class="mb-3 w-auto d-flex flex-wrap">
                            <span class="pe-2 text-nowrap">
                                <i class="mdi mdi-cash"></i>
                                <b>$ 11.000</b> Precio 
                            </span>
                            <span class="pe-2 mb-2 d-inline-block text-nowrap">
                                <i class="mdi mdi-format-list-bulleted-type text-muted"></i>
                                <b>Ubicación:</b> Barranquilla/Colombia
                            </span>
                        </p>

                        <p class="text-muted font-13 mb-3">
                            Descripción del producto Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, provident beatae? Iusto tenetur quisquam nihil assumenda molestias at vitae adipisci consequuntur? Impedit placeat eveniet corrupti doloremque reiciendis quibusdam
                            modi fuga.
                        </p>
                        <div class="mt-2">
                            <div class="btn btn-danger btn-sm ">
                                <i class="mdi mdi-delete"></i>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- end card-body-->
                </div>
            </div>
        </div>
    </div>



</div>